@use 'color.scss' as colors;

.window {
    background-color: colors.$background;
    border-radius: 8px;
    border-color: colors.$inactiveBorder;
    border-width: 0px;
    border-style: solid;
}

.focusedWindow {
    background-color: colors.$background;
    border-radius: 8px;
    border-color: colors.$activeBorder;
    border-width: 0px;
    border-style: solid;
}